/**
 * Base style to affect HTML elements on a general scale.
 */

@import "../@desinax/typographic-grid/less/typography-font-families.less";
@import "../@desinax/typographic-grid/less/typography-defaults.less";

@bgColorHtml: #333;
@bgColorBody: #fff;
@colorBody: #333;

@fontFamilyHeadings:  @fontFamilyVerdana;
@fontFamilyBody:      @fontFamilyGaramond;
@fontFamilyCode:      @fontFamilyCourier;


// Activate the grid base font
body {
    #desinax-hgrid.font(@fontSizeBody);
}


// Just to make the example more visible
.meta {
    position: absolute;
    top: 0;
    color: #666;
}

.magic-number::after {
    content: "@{magicNumber}";
}

.base-fontsize::after {
    content: "@{fontSizeBody}";
}



// html {
// }

// .wrap {
//     margin: 0 auto;
// }

// .right {
//     float: right;
// }

// .left {
//     float: left;
// }


.outer-wrap-footer {
    min-height: 100%;
}

#desinax-hgrid.activateDefaultTypography();

.toc h4 {
    font-size: @fontSizeBody;
}
