/**
 * Base style to affect HTML elements on a general scale.
 */

@import "../@desinax/typographic-grid/less/typography-font-families.less";
@import "../@desinax/typographic-grid/less/typography-defaults.less";


@magicNumber:  24px;  // 22px
@fontSizeBody: 18px;

// Activate the grid base font
.hgrid .inner-wrap {
    #desinax-hgrid.font(@fontSizeBody);
    @gridImage: "../img/magic-number-@{magicNumber}.png";
    #desinax-hgrid.showGrid(@gridImage);
}


#desinax-hgrid.activateDefaultTypography();



// Just to make the example more visible
// .meta {
//     position: absolute;
//     top: 0;
//     color: #666;
// }

.magic-number::after {
    content: "@{magicNumber}";
}

.base-fontsize::after {
    content: "@{fontSizeBody}";
}

