/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */
@bgColorOuterWrap: #fff;
@bgColorInnerWrap: #fff;

/**
 * General layout
 */

.outer-wrap-flash,
.outer-wrap-breadcrumb,
.outer-wrap-footer,
.outer-wrap-main {
    background-color: @bgColorOuterWrap;
    .clearfix();
}

.inner-wrap {
    max-width: 1100px;
    background-color: @bgColorInnerWrap;
    //margin: 0 auto;
}

/*
 * Header layout
 */
.site-logo-text {
    // margin-left: 1em;
    // margin-top: 1em;
    // float: left;
}

.logo-1 {
    position: absolute;
}

.site-logo {
    display: none;
}


/*
* Main and sidebars layout
*/
.inner-wrap-main {
    .clearfix();
}

.region-main {
    width: 70%;
    float: left;
    margin-left: 10%;
    .clearfix();

    &.has-sidebar {
        margin-left: 0;
    }

    &.has-sidebar-left.has-sidebar-right {
        width: 60%;
    }
}

.region-sidebar-left,
.region-sidebar-right {
    width: 30%;
    float: left;
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    width: 20%;
}

/*
 * Sidebar layout
 */

.wrap-sidebar h4,
.toc h4 {
    width: 90%;
    background-color: lightgray;
}

/*
*  Footer layout
*/

.outer-wrap-footer {
    background-color: @bgColorOuterWrap;
    .clearfix();
}

.footer-column {
    width: 33%;
    height: auto;
    float: left;
}

.site-footer {
    // padding-top: 4cm;
    text-align: center;
    overflow-y: none;
}





/*
 * Byline layout
 */

// .byline {
//     padding: 2px;
//     width: 500px;
//     overflow: auto;
//     border: 1px dotted gray;
// }

.byline-text {
    font-size: 12pt;
    margin-top: 20px;
}

/*
 * Next previous layout
 */
.previous {
    float: left;
}

.next {
    float: right;
}

.rm-default ul li {
    // box-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    border: 0;
    display: block;
    text-align: left;
}
